.sideBar{ 
    flex:1;
    background: rgba(251,251,255);
    height: calc(100vh - 60px);
    position: sticky;
    top:60px;
}
.sedeBarWrapper{ 
    padding: 20px;
    color:#555;
}
.sideBarMenu{ 
    margin-bottom: 20px;
}
.sidebarTitle{ 
    font-size: 13px;
    color:gray;
    text-transform: capitalize;
}
.sideBarList{ 
    list-style: none;
    padding: 5px;
}
.sideBarListItem{ 
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
}
.sideBarListItem.active,
.sideBarListItem:hover{ 
    background: rgba(240,240,255);
}
.sideBarIcon{ 
    margin-right: 5px;
    font-size: 20px !important;
}
